.content__paragraph {
  margin: 0 0 20px;
  padding: 0;
  z-index: 1;
}

@media screen and (max-width: 319px) {
  .content__paragraph {
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .content__paragraph {
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .content__paragraph {
    text-align: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .content__paragraph {
  }
}
