.tabs__item {
  width: 50%;
  height: 56px;

  border: none;
  font-size: 20px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}
