.image_slide {
  margin: 0;
  padding: 0;
  width: 600px;
  height: 346px;
  border-radius: 30px;
}
@media screen and (max-width: 319px) {
  .image_slide {

  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .image_slide {
    max-width: 100%;
    border-radius: 0;
    object-fit: contain;
    height: auto;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .image_slide {
    max-width: 100%;
    border-radius: 0;
    object-fit: contain;
    height: auto;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .image_slide {
  }
}
