.card {
  width: 430px;
  height: 255px;
  margin: 0 20px 0 0;
  padding: 0;
  background: #7CC1D0;
  border-radius: 30px;
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: center;
  text-align: center;
  position: relative;
}

.card:last-child {
  margin-right: 0;
}

@media screen and (max-width: 319px) {
  .card {

  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .card {
    width: 300px;
    height: 177px;
    border-radius: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .card {
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .card {
  }
}
