.section_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 43px 70px 0;
  padding: 0;
}

@media screen and (max-width: 319px) {
  .section_header {

  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .section_header {
    flex-direction: column;
    margin: 43px 10px 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .section_header {
    margin: 43px 20px 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .section_header {
    margin: 43px 40px 0;
  }
}
