.slide_second {
  margin: 220px 0 0;
}

@media screen and (max-width: 319px) {
  .slide_second {
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .slide_second {
    margin: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .slide_second {
    margin: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .slide_second {
    margin: 0;
  }
}
