.links__item_message {
  margin: 0 50px;
  padding: 0;
  position: relative;
  line-height: 20px;
}

.links__item_message::before {
  content: "";
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  background-image: url("../../../../images/message.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  position: absolute;
  left: -30px;
}

@media screen and (max-width: 319px) {
  .links__item_message {

  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .links__item_message {
    margin: 0;
    margin-top: 10px;
    font-size: 12px;
    
  }
  .links__item_message::before {
    height: 10px;
    width: 10px;
    background-size: 10px;
    left: -15px;
    top: 2px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .links__item_message {
    margin: 0 0 0 10px;
    font-size: 14px;
  }
  .links__item_message {
    margin: 0 30px;
    font-size: 10px;
  }
}