.button_black {
  width: 100%;
  height: 56px;
  background: #2A303C;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.8;
  transition: opacity 0.5s ease;
  align-self: center;
  color: #FFFFFF;
}
.button_black:hover {
  opacity: 1;
}

@media screen and (max-width: 319px) {
  .button_black {

  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .button_black {
    height: 46px;
    font-size: 14px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .button_black {
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .button_black {

  }
}
