.section_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 43px 0 0;
  padding: 0;
}

@media screen and (max-width: 319px) {
  .section_footer {

  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .section_footer {
    flex-direction: column;
    margin: 43px 0 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .section_footer {
    margin: 43px 0 0;
  }
}

@media screen and (max-width: 319px) {
  .section_footer {

  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .section_footer {
    flex-direction: column;
    margin: 10px 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .section_footer {
    margin: 20px 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .section_footer {
    margin-left: 0;
    margin-right: 0;
  }
}
