.links__item_mail {
  margin: 0 50px;
  padding: 0;
  position: relative;
  line-height: 20px;
}

.links__item_mail::before {
  content: "";
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  background-image: url("../../../../images/envelope.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  position: absolute;
  left: -30px;
}
