.title_content {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  margin: 50px 70px 0;
  padding: 0;
}

@media screen and (max-width: 319px) {
  .title_content {

  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .title_content {
    flex-direction: column;
    margin: 43px 10px 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .title_content {
    margin: 43px 20px 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .title_content {
    margin: 43px 40px 0;
  }
}
