.content {
  max-width: 765px;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-right: auto;
  margin-left: 80px;
  margin-top: 50px;
  position: relative;
}

.content::before {
  content: "";
  width: 164px;
  height: 164px;
  position: absolute;
  background-color: rgba(124, 193, 208, 0.4);
  border-radius: 50%;
  left: -46px;
  top: -38px;
  z-index: -1;
}

@media screen and (max-width: 319px) {
  .content {
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .content {
    max-width: 479px;
    width: auto;
    margin: 0;
    /* margin-left: 10px;
    margin-right: 10px; */
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .content {
    max-width: 768px;
    width: auto;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .content {
    margin-left: 80px;
    margin-right: 80px;
  }
}
